.purple {
    background-color: #d5caff;
}

.bgcolor {
    background-color: white;
}

.navbar, .footer{
    background-color: #d5caff;
}

.nav-color footer{
    color: #2c1a6f;
}

.nav-color:hover {
    color: #2c1e62;
}
a {
    color: #2c1e62;
    text-decoration: none;
}
a:hover {
    color: #5d41c9;

}
.profile {
    text-align: center;
}

.border-shadow {
    border: 1px solid #ddd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.icone {
    max-width: 225px;
    width: 100%;
    border: 5px solid #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    vertical-align: middle;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-border {
    border: none; 
    box-shadow: none; 
}
h1 {
    font-size: 2rem;
    font-weight: 400;
    color: #2c1e62;
}

h1, p {
    font-family: Arial, Helvetica, sans-serif;
}

.profile p {
    font-size: 1.25rem;
    color: #2c1e62;
}

h2 {
    font-size: 1.75rem;
    margin-bottom: 20px;
    font-weight: 300;
}

.card .btn {
    text-decoration: none;
    color: #ffffff;
    background-color: #877bba;
    border-color: #877bba;
    transition: background-color 0.3s, border-color 0.3s;
}

.card .btn:hover {
    background-color: #5e49a8;
    border-color: #5e49a8;
}


.card-title {
    color: #2c1e62;
}